body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
 
.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  height: auto; /* para evitar scroll indesejado */
}

h2 {
  margin-bottom: 20px;
}
 
input[type="number"] {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
 
button {
  width: 220px; /* Aumentar a largura do botão */
  height: 60px; /* Aumentar a altura do botão */
  background-color: #e08235;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Aumentar o tamanho da fonte */
}

button:hover {
  background-color: #d16e20; /* Ajustar a cor ao passar o mouse */
} 

button:hover {
  background-color: #0056b3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 auto;
}

 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
 
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px; /* Limite para telas maiores */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
 
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 
table {
  width: 100%;
}
 
th, td {
  padding: 8px;
  text-align: left;
}

.animated-button {
  background-color: #e08235;
  border: none;
  color: white;
  padding: 12px 36px; /* Aumentar o espaçamento interno */
  text-align: center;
  font-size: 18px; /* Aumentar o tamanho da fonte */
  margin: 10px; /* Espaçamento entre os botões */
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para profundidade */
} 

.animated-button:hover {
  background-color: #d1bf20; /* Ajustar a cor ao passar o mouse */
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.animated-button:active {
  transform: scale(0.95);
}
 
#deviceList {
  list-style-type: none;
  padding: 0;
}
 
#deviceList li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  cursor: pointer;
}
 
#deviceList li:hover {
  background-color: #f0f0f0;
}
 
.fundo {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.usage-time-display {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.connected-device-display {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

#usageTimeChart {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Contêiner de perfil */
#profileContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 100;
}


.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#userLoggedIn {
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 101;
}

.profile-menu p {
    margin: 0;
    padding: 5px 0;
}

.profile-menu button {
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
